* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

img {
	max-width: 70%;
	display: block;
	margin: 0;
}

body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	font-weight: normal;
	line-height: 2;
	color: #ffffff;
}

.container {
	max-width: 128rem;
	margin: 0 auto;
	padding: 0 4rem;
}

.header {
	padding: 1rem;
	text-align: center;
}

.header__title {
	font-size: 3.5rem;
	line-height: 100%;
	color: #000000;
}

.slider-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	margin-bottom: 10rem;
	background-color: #000000;
}

.main__radio-btn {
	display: none;
}

.main__slider {
	display: flex;
	width: 400%;
}

.slide {
	width: 100%;
	display: flex;
	justify-content: center;
}

.main__slider-bottom {
	display: flex;
	justify-content: space-around;
	padding: 30px;
	overflow: hidden;
}

.slider-bottom__texts {
	width: 100%;
	overflow: hidden;
}

.slider-bottom__wrapper {
	display: flex;
	width: 400%;
}

.slider-bottom__text {
	width: 100%;
}