* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

img {
	max-width: 100%;
	display: block;
	margin: 0;
}

body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	font-weight: normal;
	line-height: 2;
}

.container {
	max-width: 128rem;
	margin: 0 auto;
	padding: 0 4rem;
}

.header {
	padding: 3rem;
	text-align: center;
}

.header__title {
	font-size: 4.5rem;
	line-height: 130%;
}